/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
} 
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {

	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 2;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a :visited {
	text-decoration: none;
	color: inherit;
}

a:focus {
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}
svg{
	fill: inherit;
}
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/
body {
	font-family: Roboto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	background: #fff;
	border-bottom: 1px solid #ECECEC;
}

.top__line {
	padding: 24.6px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.top__line-logo {
	color: #000;
	font-family: Raleway;
	font-weight: bolder;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	margin-right: 90px;
}

.top__line-logo-web {
	color: #2196F3;
}

.top__line-nav-ul {
	display: flex;
}

.top__line-nav-li {
	color: #000;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	margin-right: 48px;
	align-content: center;
	align-self: center;
	transition: color 150ms linear;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.top__line-nav-li :hover,
.top__line-nav-li :focus  {
	color: #2196F3;
}

.top__line-nav-li:last-child {
	margin-right: 300px;
}
.nav__li-1::after,
.nav__li-2::after {
	content: "";	
	position: relative;
	top: 29px;
	display: block;
	margin-bottom: -4px;
	height: 4px;
	border-radius: 2px;
	color: #2196F3;
	background: #2196F3;	
}
.nav__li-1,.nav__li-2{
	color: #2196F3;
}
.top__line-info {
	fill: #757575;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.02em;
	display: flex;
}

.top__line-info a{
	color: #757575;
	display: flex;
	align-self: center;
}
.top__line-info-email{
	margin-right: 30px;
}
.top__line-info-icon {
	margin-right: 10px;
	width: 16px;
	height: 18px;
}

.top__line-info-email :hover,
.top__line-info-email :focus,
.top__line-info-tel :hover,
.top__line-info-tel :focus{
	fill: #2196F3;
	color: #2196F3;
	transition:  fill 250ms linear, color 250ms linear;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* =====up__block======= */

.up__block {
	margin: 0 auto;
	padding: 203px 0;
	max-width: 1600px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image:
		linear-gradient(to right,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)),
		url(../images/background.jpg);
}

.up__block-title {
	color: #fff;
	text-align: center;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.3;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.up__block-button {
	text-align: center;
}

.up__block-bt {
	margin-top: 30px;
	padding: 9.1px 0;
	width: 200px;
	font-weight: bold;
	color: #fff;
	background: #2196F3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 0.06em;
}

/* ======peculiarities========= */
.peculiarities {
	padding: 94px 0;
}

.peculiarities__flex {
	display: flex;
	flex-direction: row
}

.peculiarities-info {
	width: 270px;
	margin-right: 30px;
}

.peculiarities-info:last-child {
	margin-right: 0;
}

.peculiarities-info h2 {
	font-weight: bold;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #212121;
}

.peculiarities-info p {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: #757575;
}

.peculiarities-icon1::before {
	display: block;
	content: "";
	height: 120px;
	background-image: url(../images/antenna.svg);
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f5f4fa;
	margin-bottom: 20px;
}

.peculiarities-icon2::before {
	display: block;
	content: "";
	height: 120px;
	background-image: url(../images/clock.svg);
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f5f4fa;
	margin-bottom: 20px;
}

.peculiarities-icon3::before {
	display: block;
	content: "";
	height: 120px;
	background-image: url(../images/diagram.svg);
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f5f4fa;
	margin-bottom: 20px;
}

.peculiarities-icon4::before {
	display: block;
	content: "";
	height: 120px;
	background-image: url(../images/astronaut.svg);
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f5f4fa;
	margin-bottom: 20px;
}

/* ========classes=========== */

.classes {
	margin-bottom: 90px;
}

.classes__title {
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	margin-bottom: 50px;
}

.classes__image {
	display: flex;

}

.classes__image li {
	margin-right: 30px;
	position: relative;
}

.classes__image li:last-child {
	margin-right: 0;
}

.classes-image-sabtitle {
	position: absolute;
	bottom: 0;
	padding: 27px 0;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	width: 100%;
	color: #FFFFFF;
	background: rgba(47, 48, 58, 0.8);
}

/* =========team========== */
.team {
	background: #F5F4FA;
	padding: 94px 0;
}

.team__title {
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.team-flex {
	display: flex;
	flex-direction: row
}

.team-cards {
	width: 270px;
	margin-right: 30px;
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-cards:last-child {
	margin-right: 0;
}

.team-card-padding {
	padding: 30px 0;
}

.team-card-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.team-card-sabtitle {
	margin-top: 10px;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: #757575;
}

.team-social {
	margin-top: 16px;
	display: flex;
	justify-content: center;
}

.team-social-link {
	display: flex;
	justify-content: center;
transition:  fill 250ms linear, background 250ms linear;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	fill: #AFB1B8;
}

.team-social-li {
	margin-right: 10px;
}

.team-social-li:last-child {
	margin-right: 0;
}

.team-social-svg {
	width: 20px;
	height: 20px;
}

.team-social-link:hover,
.team-social-link:focus {
	background: #2196F3;
	fill: #fff;
}

/* ========client========= */
.client {
	padding: 94px 0;
}

.client-title {
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.client-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
}

.client-list-link {
	height: 100px;
	width: 170px;
	margin-right: 30px;
	border: 1px solid #AFB1B8;
	box-sizing: border-box;
	border-radius: 4px;
	fill: #AFB1B8;
	transition:  fill 250ms linear, border 250ms linear;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	display: flex;
	align-items: center;
	justify-content: center;
}
.client-list-link svg{
	width: 100px;
}

.client-list-li:last-child {
	margin-right: 0;
}

.client-list-link:hover,
.client-list-link:focus {
	fill: #2196F3;
	cursor: pointer;
	border: 1px solid #2196F3;
}

/* ========footer========= */
.footer {
	padding: 54px 0;
	background: #2F303A;
}

a.footer__logo {
	color: #fff;
	font-family: Raleway;
	font-weight: bolder;
	font-size: 26px;
	line-height: 2;
	letter-spacing: 0.03em;
	padding-bottom: 10px;
}

.footer__logo-web {
	color: #2196F3;
}

.footer__address p {
	padding-top: 10px;
}

.footer__address-street {
	font-style: normal;
	font-size: 14px;
	line-height: 1.9;
	letter-spacing: 0.03em;
	color: #FFFFFF;
}

.footer__address-email,
.footer__address-tell {
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms linear;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address-email:hover,
.footer__address-tell:hover {
	color: #2196F3;
}

.footer__address-email:focus,
.footer__address-tell:focus {
	color: #2196F3;
}

.container-flex-footer {
	display: flex;
}

.footer-social {
	margin-top: -28px;
	text-align: top;
	width: 206px;
	height: 100px;
	margin-left: 70px;
}

.footer-social h2 {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: 10px;
}

.social-list {
	display: flex;
}

.footer-social li:nth-child(1) {
	display: block;
}

.footer-social-icon {
	display: block;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(255, 255, 255, 0.1);
	margin-right: 10px;
	transition: background 250ms linear;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon1 {
	background-image: url(../images/instagram.svg);
}

.footer-social-icon2 {
	background-image: url(../images/twitter.svg);
}

.footer-social-icon3 {
	background-image: url(../images/facebook.svg);
}

.footer-social-icon4 {
	background-image: url(../images/linkedin.svg);
	margin-right: 0;
}

.footer-social-icon:hover,
.footer-social-icon:focus {
	background-color: #2196f3;
}
.footer-form {
	margin-left: 90px;
	margin-top: -28px;
}
.footer-form h2{
	margin-bottom: 20px;
	font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;

}
.footer-form-input {
	margin-right: 12px;
	padding: 15px;
	font-size: 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background: #2F303A; 
	color: #fff;
	width: 358px;
}
.footer-form-input:focus{
	border: 1px solid #2196F3;
}
.footer-form-input::placeholder{
color: rgba(255, 255, 255, 0.6);
}
.footer-form-bt {
	position: relative;
	padding: 12px 62px 12px 30px;
	font-size: 16px;
	line-height: 2;
	background: #2196F3;
	color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}
.footer-form-svg{
	position: absolute;
	top: 50%;
	right: 28px;
	transform: translateY(-50%);
	fill: #fff;width: 24px;height: 22px;
	text-align: center;
}
/* ========portfolio========= */
.filters {
	padding: 94px 0;

}

.filters-list {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-bottom: 50px;
	width: 611px;
	align-items: center;
}

.filters-element button {
	padding: 6.3px 22px;
	margin-right: 8px;
	font-size: 16px;
	line-height: 1.6;
	font-weight: 500;
	display: block;
	background: #F5F4FA;
	border-radius: 4px;
	white-space: nowrap;	
	transition: color 250ms linear, background 250ms linear;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-element button:hover,
.filters-element button:focus {
	cursor: pointer;
	color: #fff;
	background: #2196F3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.project-content {
	margin: 0 30px 30px 0;
	background: #fff;

}

.project-body {
	display: block;
	transition: box-shadow 250ms linear;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-content:nth-child(3n+3) {
	margin-right: 0;
}

.project-body:hover,
.project-body:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.project-body-text {
	position: relative;
	overflow: hidden;
}

.project-content-title {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(110%);
  transition: transform 250ms linear;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	padding: 63px 24px;
	background: rgba(33, 150, 243, 0.9);
	
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	color: #fff;
}

.project-content :hover .project-content-title,
.project-content :focus .project-content-title {
	opacity: 1;
	transform: translatey(-0);	
}

.project-border {
	padding: 20px 24px;
	border: 1px solid #eee;
}

.project-border p {
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 0.03em;
	color: #757575;
	margin-top: 4px;
}

.project h2 {
	font-weight: bold;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: #212121;
}

.peculiarities-svg {
	color: #000;
	background: #FFFFFF;
}

/* ========madal========= */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
	opacity: 0;
	pointer-events: none;
	transition: opacity 250ms linear;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
	position: absolute;
	min-width: 528px;
	min-height: 581px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.modal-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background: url(../images/close.svg) 11px no-repeat;
	background-position: center;
}
.modal-btn-close{
	width: 11px;height: 11px;
  margin: 0 auto;
}
.modal-btn:hover {
	fill: #2196F3;
}
.modal-body {
	padding: 40px;
}
.modal-body a{
	color: #188CE8;
	text-decoration:underline;
}
.modal-body-title {
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.modal-body-label {
}
.modal-body-input {
	border: 1px solid rgba(33, 33, 33, 0.2);
	display: block;
	width: 100%;
	height: 40px;
	margin-bottom: 28px;
	padding: 12px 16px 12px 42px;
}
.modal-body-label-tell {
}
.modal-body-input-tell {
}
.modal-body-label-mail {
}
.modal-body-input-mail {
}
.modal-body-label-text {
}
.modal-body-input-text {
	resize: none;
	width: 448px;
height: 120px;
padding: 12px 16px;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.01em;
/* color: rgba(117, 117, 117, 0.5); */
}
.modal-body-checkbox{
	margin-bottom: 30px;
}
.modal-body-label-checkbox{margin-bottom: 39px;
	font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #757575;
}
button.modal-body-bt {
	padding: 10px 55px;
	background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
margin: 0 auto;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color:#FFFFFF;
}
.form-field1,
.form-field2,
.form-field3{
	position: relative;
}

.modal-social-svg1,
.modal-social-svg2,
.modal-social-svg3{
	position: absolute;
	top: 50%;
	left: 14px;
	transform: translateY(-50%);
	width: 12px;
	height: 12px;
}
.modal-body-input:focus + .modal-social-svg1{

	fill: #2196F3;
}
.modal-body-input:focus{
		border: 1px solid #2196F3;
}